# Combining Data

Practicing combining data from two different data sets. In the same folder as this Jupyter notebook, there are two csv files:
* rural_population_percent.csv
* electricity_access_percent.csv

They both come from the World Bank Indicators data. 
* https://data.worldbank.org/indicator/SP.RUR.TOTL.ZS
* https://data.worldbank.org/indicator/EG.ELC.ACCS.ZS

The rural populaton data represents the percent of a country's population that is rural over time. The electricity access data shows the percentage of people with access to electricity.

In this exercise, you will combine these two data sets together into one pandas data frame.

# Exercise 1

In [2]:
import pandas as pd
df_rural = pd.read_csv('../data/rural_population_percent.csv',dtype=str,skiprows=3)
df_electricity = pd.read_csv('../data/electricity_access_percent.csv',dtype=str,skiprows=3)


df_rural=df_rural.drop(['Unnamed: 62'],axis=1)
df_electricity=df_electricity.drop(['Unnamed: 62'],axis=1)

combined_df=pd.concat([df_rural,df_electricity],ignore_index=True)

FileNotFoundError: [Errno 2] File b'../data/rural_population_percent.csv' does not exist: b'../data/rural_population_percent.csv'

In [ ]:
combined_df.head()

# Exercise 2 (Challenge)

This exercise is more challenging.

Combine the two datas in the csv file together so that the output looks like the following:

|Country Name|Country Code|Year|Rural_Value|Electricity_Value|
|--|--|--|--|--|--|
|Aruba|ABW|1960|49.224|49.239|
... etc.

Order the results in the dataframe by country and then by year

Here are a few pandas methods that should be helpful:
* [melt](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html)
* [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)
* [merge](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.merge.html)
* [sort_values](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)

HINT: You can use country name, country code, and the year as common keys between the data sets

In [16]:
# TODO: merge the data sets together according to the instructions. First, use the 
# melt method to change the formatting of each data frame so that it looks like this:
# Country Name, Country Code, Year, Rural Value
# Country Name, Country Code, Year, Electricity Value
df_rural = pd.read_csv('rural_population_percent.csv',dtype=str,skiprows=3)
df_electricity = pd.read_csv('electricity_access_percent.csv',dtype=str,skiprows=3)

df_rural=df_rural.drop(['Unnamed: 62'],axis=1)
df_electricity=df_electricity.drop(['Unnamed: 62'],axis=1)

df_rural=pd.melt(df_rural,id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'], \
                 var_name='Year',value_name='Rural Value')

# TODO: drop any columns from the data frames that aren't needed
df_electricity=pd.melt(df_rural,id_vars=['Country Name', 'Country Code','Indicator Name','Indicator Code'], \
                 var_name='Year',value_name='Electricity Value')

df_rural=df_rural.drop(['Indicator Name','Indicator Code'],axis=1)
df_electricity=df_electricity.drop(['Indicator Name','Indicator Code'],axis=1)
# TODO: merge the data frames together based on their common columns
# in this case, the common columns are Country Name, Country Code, and Year

# TODO: sort the results by country and then by year

df_combined = df_rural.merge(df_electricity,how='outer',on=['Country Name','Country Code','Year'])

In [18]:
df_combined.sort_values(by=['Country Name','Year'])

      Country Name Country Code  Year Rural Value Electricity Value
1      Afghanistan          AFG  1960      91.779               NaN
265    Afghanistan          AFG  1961      91.492               NaN
529    Afghanistan          AFG  1962      91.195               NaN
793    Afghanistan          AFG  1963       90.89               NaN
1057   Afghanistan          AFG  1964      90.574               NaN
1321   Afghanistan          AFG  1965       90.25               NaN
1585   Afghanistan          AFG  1966      89.915               NaN
1849   Afghanistan          AFG  1967       89.57               NaN
2113   Afghanistan          AFG  1968      89.214               NaN
2377   Afghanistan          AFG  1969      88.848               NaN
2641   Afghanistan          AFG  1970      88.471               NaN
2905   Afghanistan          AFG  1971      88.083               NaN
3169   Afghanistan          AFG  1972      87.684               NaN
3433   Afghanistan          AFG  1973      87.274               NaN
3697   Afghanistan          AFG  1974      86.851               NaN
3961   Afghanistan          AFG  1975      86.417               NaN
4225   Afghanistan          AFG  1976      85.971               NaN
4489   Afghanistan          AFG  1977      85.513               NaN
4753   Afghanistan          AFG  1978      85.042               NaN
5017   Afghanistan          AFG  1979      84.565               NaN
5281   Afghanistan          AFG  1980      84.319               NaN
5545   Afghanistan          AFG  1981       84.07               NaN
5809   Afghanistan          AFG  1982      83.818               NaN
6073   Afghanistan          AFG  1983      83.563               NaN
6337   Afghanistan          AFG  1984      83.304               NaN
6601   Afghanistan          AFG  1985      83.042               NaN
6865   Afghanistan          AFG  1986      82.777               NaN
7129   Afghanistan          AFG  1987      82.509               NaN
7393   Afghanistan          AFG  1988      82.237               NaN
7657   Afghanistan          AFG  1989      81.962               NaN
...            ...          ...   ...         ...               ...
30594     Zimbabwe          ZWE  Year         NaN              1988
30595     Zimbabwe          ZWE  Year         NaN              1989
30596     Zimbabwe          ZWE  Year         NaN              1990
30597     Zimbabwe          ZWE  Year         NaN              1991
30598     Zimbabwe          ZWE  Year         NaN              1992
30599     Zimbabwe          ZWE  Year         NaN              1993
30600     Zimbabwe          ZWE  Year         NaN              1994
30601     Zimbabwe          ZWE  Year         NaN              1995
30602     Zimbabwe          ZWE  Year         NaN              1996
30603     Zimbabwe          ZWE  Year         NaN              1997
30604     Zimbabwe          ZWE  Year         NaN              1998
30605     Zimbabwe          ZWE  Year         NaN              1999
30606     Zimbabwe          ZWE  Year         NaN              2000
30607     Zimbabwe          ZWE  Year         NaN              2001
30608     Zimbabwe          ZWE  Year         NaN              2002
30609     Zimbabwe          ZWE  Year         NaN              2003
30610     Zimbabwe          ZWE  Year         NaN              2004
30611     Zimbabwe          ZWE  Year         NaN              2005
30612     Zimbabwe          ZWE  Year         NaN              2006
30613     Zimbabwe          ZWE  Year         NaN              2007
30614     Zimbabwe          ZWE  Year         NaN              2008
30615     Zimbabwe          ZWE  Year         NaN              2009
30616     Zimbabwe          ZWE  Year         NaN              2010
30617     Zimbabwe          ZWE  Year         NaN              2011
30618     Zimbabwe          ZWE  Year         NaN              2012
30619     Zimbabwe          ZWE  Year         NaN              2013
30620     Zimbabwe          ZWE  Year         NaN              2014
30621     Zimbabwe          ZWE  Year         NaN              2015
30622     Zimbabwe          ZWE  Year         NaN              2016
30623     Zimbabwe          ZWE  Year         NaN              2017

[45936 rows x 5 columns]